.manageArticles {
  width: 80%;
  text-align: center;
  margin: auto;
  &__table {
    margin: 3em auto;
    width: 100%;
  }
  &__link {
    display: inline-block;
    margin-top: 2em;
    background-color: #49554b;
    color: white;
    padding: 1em;
    border-radius: 5px;
    &__add {
      float: right;
      margin-top: 2em;
      background-color: #49554b;
      color: white;
      padding: 1em;
      border-radius: 5px;
    }
    &__delete {
      float: right;
      margin-top: 2em;
      margin-right: .5em;
      background-color: #49554b;
      color: white;
      padding: 1em;
      border-radius: 5px;
    }
  }
}
