.manageAnimals {
  width: 80%;
  text-align: center;
  margin: auto;
  &__closeModal {
    float: right;
  }
  &__title {
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.5em;
  }
  &__trashIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &__table {
    margin: 3em auto;
    width: 100%;
    &__head {
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  &__link {
    text-decoration: underline;
    cursor: pointer;
    &__add {
      float: right;
      margin-bottom: 2em;
      background-color: #49554b;
      color: white;
      padding: 1em;
      border-radius: 5px;
    }
    &__delete {
      float: right;
      margin-top: 2em;
      margin-right: .5em;
      background-color: #49554b;
      color: white;
      padding: 1em;
      border-radius: 5px;
    }
  }
}

.formAddAnimal {
  width: 80%;
  margin: auto;
  &__block {
    display:flex;
    flex-direction: row;
    align-items: center;
  }
  & label {
    display: block;
    margin: 2em 0;
  }
  & button {
    display: block;
    margin: 2em auto;
  }
  &__image {
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(236, 236, 236, 0); 
    box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(236, 236, 236, 0);
    max-width: 600px;
  }
}
