// ADOPTION PAGE
.adoption-page {
  text-align: center;
  &__title {
    font-size: 1.5em;
    margin: 2em auto;
  }
}

// SEARCH FORM
.search-div {
  border-radius: 0.3em;
  -webkit-box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(236, 236, 236, 0); 
  box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(236, 236, 236, 0);
}
.search-form {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  padding: 2em;
  width:80%;
  &__name,
  &__species,
  &__breed,
  &__age,
  &__gender,
  &__tag,
  &__button {
    margin: 1em;
    padding: 1em;
  }
  &__text {
    font-weight: bold;
  }
  // &__label {
  // for checkbox style / not use for the moment
  // }
  &__case {
    margin: 0.5em auto;
    width: 200px;
    padding: 1em;
  }
  &__checkbox {
    margin: 0.5em;
  }
}

// CARDS ANIMALS - cards is responsive
.section-animals{
  min-width: 100%;
  display:block;
  margin: auto;
  margin-bottom: 2em;
  &__title {
    font-size: 1.3em;
    margin: 2em auto;
  }
}
.cards-animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto 10em;
  padding-bottom: 3em;
}
a {
  max-width: 100%;
}
.card-animal {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding:1em;
  -webkit-box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(236, 236, 236, 0); 
  box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(236, 236, 236, 0);
  &__name {
    text-transform: uppercase;
    padding: 1em;
  }
  &__picture {
    border-radius: 0.5em;
    height: 200px;
    width: 300px;
    background-color:#67736921;
  }
  &__span {
    margin-top: 1em;
  }
}


