// ADOPTION PAGE
.adoption-page {
  text-align: center;
  &__title {
    font-size: 1.5em;
    margin: 2em auto;
  }
}

// SEARCH FORM
.search-div {
  border-radius: 0.3em;
  -webkit-box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(236, 236, 236, 0); 
  box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(236, 236, 236, 0);
}
.search-form {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  padding: 2em;
  width:80%;
  &__name {
    margin: auto;
    padding: 1em;
    display: block;
    width: 90%;
  }
  &__filter {
    margin: auto;
    padding: 1em;
    width: 14%;
  }
  &__button {
    margin: 1em;
    padding: 1em;
  }
  &__text {
    font-weight: bold;
  }
  // &__label {
  // for checkbox style / not use for the moment
  // }
  &__case {
    margin: 0.5em auto;
    width: 200px;
    padding: 1em;
  }
  &__caseFilter {
    margin: 0.5em auto;
    width: 100%;
    padding: 1em;
  }
  &__checkbox {
    margin: 0.5em;
  }
}

// CARDS ANIMALS - cards is responsive
.section-animals{
  min-width: 100%;
  display:block;
  margin: auto;
  margin-bottom: 2em;
  &__title {
    font-size: 1.3em;
    margin: 2em auto;
  }
}
.cards-animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto 15em;
  padding-bottom: 3em;
}
.card-animal {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: 1em;
  -webkit-box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(236, 236, 236, 0); 
  box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(236, 236, 236, 0);
  &__name {
    text-transform: uppercase;
    padding-top: 1em;
    font-size: 1.2em;
  }
  &__picture {
    border-radius: 5px;
    height: 150px;
    width: 250px;
    background-color:#67736921;
    margin: 1em;
  }
  &__span {
    margin-top: 1em;
    color: #222222;
  }
  &__animal {
    text-transform: uppercase;
    color: #4c4e4c;
    background-color: #f0f0f0;
    padding:1em;
    margin-top: 1em;
    border-radius: 0px 0px 30px 30px;
  }
  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
  }
}

// pagination
//ul
.pagination{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em;
  &__li {
    border-radius:100px;
    background-color: #eeeeee;
    border: 0.5px #ffffff;
    width: 50px;
    margin: 0.5em;
    padding: 0.5em;
    &:hover {
      background-color: #4c4e4c;
      transition: 0.5s;
    }
  }
  &__active {
    background-color: #49554b83;
  }
}

@media (max-width: 1500px) {
  .search-form__filter {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .search-form__filter {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .search-form__filter {
    width: 80%;
  }
}
