.footer {
  background-color: #c5a996;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5em;
}

.titleFooter {
  color: white;
  margin-right: 4em;
  letter-spacing: 3px;
  &__logo {
    max-width: 40px;
    margin: 0em .5em;
  }
  &__text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5em;
  }
}

.adress {
  color: #fff;
  text-align: left;
  width: 800px;
  &__mail {
    margin-top: 1em;
  }
}

.copyright {
  color: #fff;
  &__fbLogo {
    margin-bottom: 1em;
    max-width: 30px;
  }
  :hover{
    color: #856b5a;
  }
}

@media (max-width: 750px) {
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .titleFooter {
    margin-right: 0;
    margin-bottom: 1em;
  }
  .adress {
    text-align: center;
    width: auto;
    margin: 1em 0;
  }
  .copyright__fbLogo {
    margin-bottom: 0;
  }
  .copyright {
    margin-top: 1em;
  }
}
