.footer {
  background-color: #30322F;
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}

.titleFooter {
  color: white;
  margin-right: 4em;
  letter-spacing: 3px;
  &__logo {
    max-width: 40px;
    margin: 0em .5em;
  }
  &__text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5em;
  }
}

.adress {
  color: #656766;
  text-align: left;
  width: 800px;
  &__mail {
    margin-top: 1em;
  }
}

.copyright {
  color: #656766;
  &__fbLogo {
    margin-bottom: 1em;
    max-width: 30px;
  }
}
