.header {
  text-align: center;
  width: 100%;
  background-color: #677369;
  padding-bottom: 1.5em;
}

.titleHeader {
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
  letter-spacing: 3px;
}

.donate {
  display: inline-block;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  color: white;
  background-color: #49554b;
  letter-spacing: 1px;
  transition: all 500ms ease;
  &:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.disconnect {
  padding: 0.5em 1em;
  border-radius: 4px;
  color: white;
  background-color: #49554b;
}

.logoHeader {
  margin-top: 2em;
  max-width: 50px;
}

.nav__submenu {
  display: none;
}

.nav__menu-item:hover {
  .nav__submenu {
    display: block;
  }
}

$color: #49554b;
$submenu-width: 180px;



nav {
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav {
  display: inline-block;
  margin: 2rem auto 0;
  color: #fff;
  text-align: left;
  
  a {
    display: block;
    padding: .5em 1.5em;
    line-height: inherit;
    cursor: pointer;
    letter-spacing: 2px;
  }
}
  
.nav__menu {
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
  
.nav__menu-item {
  margin-right: 5em;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  &:hover {
    background-color: $color;

    .nav__submenu {
      display: block;
    }
  }
}
.nav__menu-items-withSubitems {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 5em;
  display: inline-block;
  position: relative;
  &:hover {
    background-color: $color;
    .nav__submenu {
      display: block;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    } 
  }
}
    
.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: $submenu-width;
  background-color: $color;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
    
.nav__submenu-item {
  &:hover {
    background: rgba(#000, 0.3);
  }
  &--active {
    background-color: #49554b;
  }
}
