.admin {
  height: 500px;
  width: 60%;
  margin: 3em auto;
  text-align: center;
  &__title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 2em;
  }
  &__username {
    &__input {
      display: block;
      margin: 1em auto;
    }
  }
  &__password {
    &__input {
      display: block;
      margin: 1em auto;
    }
  }
  &__submit {
    margin-top: 2em;
    display: inline-block;
    text-transform: uppercase;
    background-color: #49554b;
    color: white;
    padding: 1em;
    border-radius: 5px;
  }
  &__subtitle {
    font-size: 1.5em;
    margin: 1em 0;
  }
  & li {
    margin: .5em;
  }
  &__number {
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    margin-right: .2em;
  }
}
