.containerContact {
  display: flex;
  padding: 0em 8em;
}

.contact {
  margin: 2em;
  width: 40vw;
  &__title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 2em;
  }
  & form {
    border: 1px solid black;
    width: 100%;
    margin: auto;
    padding-bottom: 1em;
    text-align: center;
  }
  & label {
    margin: 1em;
    display: block;
  }
  &__content {
    margin: 3em !important;
  }
  &__contentField {
    margin-bottom: 2em;
    width: 90%;
  }
  &__submitButton {
    display: block;
    margin: .5em auto;
    background-color: #677369;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  &__hidden {
    display: none;
  }
  &__active {
    margin: 2em;
    color: green;
    font-size: 1.2em;
  }
}

.maps {
  width: 40vw;
  height: 60vh;
  margin: 5em auto;
  &__title {
    margin-bottom: 2em;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }
  &__info {
    &__title {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: .5em;
    }
    &__subtitle {
      font-size: 1.2em;
      margin-bottom: .5em;
    }
    &__open {
      margin-bottom: .1em;
    }
    &__closed {
      display: inline-block;
      color: red;
    }
  }
}
