.home {
};

.picture {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: white;
};

.title{
  padding-top: 2.5em;
  font-size: 200%;
}

.main{
  background-color: rgb(240, 236, 236);
  padding: 5em;
  &__title{
    font-size: 35px;
    padding-bottom: 7px;
  };
  &__subtitle{
    font-size: 15px;
    padding-bottom: 3em;
  };
  &__paragraph{
    text-align: left;
  }
};
