.home{
  &__picture {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  &__contain, 
  &__section {
    max-width: 80%;;
  }
  &__contain {
    margin: auto;
    text-align: center;
  }
  &__title{
    font-size:2em;
    margin-top: 2em;
  }
  &__subtitle{
    font-size: 1.3em;
    padding:2em;
  }
  &__paragraph{
    text-align: left;
  }
  &__section {
    display:block;
    margin: auto;
    margin-bottom: 2.5em;
  }
  &__news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
  }
};  

// SECTION ARTICLES IS RESPONSIVE
// DESKTOP DESIGN NEEDS IMPROVEMENT BUT MOBILE OK
