.home {
};

.homePicture {
  width: 100%;
  height: auto;
  overflow: hidden;
};

.newsTitle{
  padding-top: 2.5em;
  font-size: 200%;
}

.main{
  text-align: center;
  //padding: 5em;
  &__title{
    font-size: 35px;
    padding-bottom: 7px;
    margin-top: 2em;
  };
  &__subtitle{
    font-size: 15px;
    padding-bottom: 3em;
  };
  &__paragraph{
    text-align: left;
  }
};

.box {
  margin: auto;
}

.containerHome {
  width: 80%;
  margin: auto;
}

.newsTitle {
  margin-bottom: 2em;
}
