.manage__animal {
  width: 80%;
  text-align: center;
  margin: 2em auto;
  &__picture {
    max-width: 50%;
    border-radius: 0.5em;
  }
  &__input {
  padding: 1em;
  font-size: 1.3em;
  cursor: pointer;
  text-transform: uppercase;
  }
  &__upload,
  &__submit {
    margin-bottom: 2em;
    background-color: #9e7f6a;
    color: white;
    padding: 1em 1.5em;
    text-transform: uppercase;
    border-radius: 5px;
  }
  &__upluadDelete {
    padding : 1em;
    margin: 1em;
  }
  & textarea {
    width: 90%;
  }
}
