@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.app {
  margin: auto;
  font-family: 'Oswald', sans-serif;
}

button {
  border: none;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  padding: 1em;
  width: 40%;
  margin: 1em auto;
  border: 2px solid rgb(1, 122, 1);
  background-color: rgb(181, 248, 181);
  border-radius: 10px;
  animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
