.info-adoption {
  width: 50%;
  margin: 2.5em auto;
  &__title,
  &__subtitle {
    margin-bottom: 1.5em;
  }
  &__title {
    text-align: center;
    font-size: 2em;
  }
  &__subtitle {
    font-size: 1.5em;
  }
  &__text {
   padding: 1em;
   margin-bottom: 1.5em;
  }
  &__ul {
    padding: 0.5em;
    margin-bottom: 1.5em;
  }
  &__li {
    list-style-type: square;
  }
  &__picture {
    display: block;
    width: 100%;
    margin: 1.5em auto;
    border-radius: 1em;
  }
  &__contact {
    text-align: center;
  }
}
