.info-adoption {
  width: 50%;
  margin: 2.5em auto;
  &__title,
  &__subtitle {
    margin-bottom: 1.5em;
  }
  &__title {
    text-align: center;
    font-size: 2em;
  }
  &__subtitle {
    font-size: 1.5em;
  }
  &__text {
   padding: 1em;
   margin-bottom: 1.5em;
  }
  &__ul {
    padding: 0.5em;
    margin-bottom: 1.5em;
  }
  &__li {
    list-style-type: square;
  }
  &__picture {
    display: block;
    width: 100%;
    margin: 1.5em auto;
    border-radius: 1em;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(236, 236, 236, 0); 
    box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(236, 236, 236, 0);
  }
  &__contact {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .info-adoption {
    width: 80%;
  }
}
