.blog {
  text-align: center;
  &__title {
    font-size: 1.9em;
    margin: 1em 0;
  }
  &__categories {
    margin-top: 4em;
    &__title {
      margin-bottom: 2em;
    }
    &__category {
      padding: 0.7em;
      font-weight: bold;
      text-transform: uppercase;
      width: 150px;
      margin: auto;
      border-radius:50px;
      color: white;
      &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
  &__section {
    display:block;
    margin: auto;
    margin-bottom: 2em;
  }
  &__articles__blog{
    display:flex;
    flex-wrap: wrap;
  }
  &__article{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 3em;
    -webkit-box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(248, 248, 248, 0); 
    box-shadow: 5px 5px 5px 0px #eeeeee, inset 4px 4px 15px 0px #eeeeee, 5px 5px 5px -9px rgba(248, 248, 248, 0);
    &__picture {
    min-width: 250px;
    max-width: 100%;
    height: 200px;
    background-color:#67736921;
    }
    &__title {
    font-size: 1.7em;
     margin: 1em 0;
    }
    &__category {
      padding: 1em;
      border-radius: 5px;
      text-transform: uppercase;
      color: white;
    }
    &__content {
     margin: 1em;
     text-align:left;
    }
    &__more {
      text-align: right;
      font-size: 0.8em;
      margin-bottom: 1em;
      margin-right: 0.5em;
    }
  }
}
.actu {
  background-color: #822d4d;
}
.adoption {
  background-color: #ce6e14;
}
.covid {
  background-color: #a3c0be;
}
.maltraitance {
  background-color: #506d6e
}
.all {
  margin: 2em;
  background-color:#eeeeee;
  color: black;
  width: 250px;
}

@media (min-width: 600px) {
  .blog__section {
    max-width: 60%;
  }
}
